@model IsbnReader.ViewModels.IndexViewModel
@{
    ViewBag.Title = "View";
}

<div class="row">
    <div class="col-md-3">
        <form role="form" id="isbn-form">
            <div class="form-group">
                <textarea name="isbns" class="form-control" rows="20"></textarea>
            </div>
            <input type="submit" class="btn btn-default" value="Find"/>
        </form>
    </div>
    <div class="col-md-9 books-result">
        @Html.Partial("_Books", Model.Books)
    </div>
</div>

